
/* burger menu */
.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: white;
  transition: all 0.5s ease;
}

.bar1.change {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar2.change {
  opacity: 0;
}

.bar3.change {
  transform: rotate(45deg) translate(-5px, -6px);
}



.main-nav {
  padding: 4px 20px!important;
  color: white;
}

.navbar-brand,
.my-button1 {
  padding: 8px 30px!important;
  border: solid 1px white;
  border-radius: 0px;
  color: white;
  font-family: 'Lato';
}

.main-nav, .navbar-brand, .learn-more, .my-button1 {
  font-size: 15px;
}

header {
  height: 100%;
  padding-bottom: 1rem;
}


.main-text, .sub-text {
  color: white;
  font-weight: 400;
}


.my-jumbotron {
  height: 100vh
}

.my-button2 {
  color: black;
  background: white;
}

.nav-link {
  padding: 8px 30px!important;
}

.clickable:hover {
  background: white;
  color: black;
  transition: 0.3s;
}

.clickable-reverse:hover {
  background: black;
  /* border: 1px solid white; */
  color: white;
}

.navbar {
  transition: 0.3s;
}

.heading {
  color: white;
  font-family: 'Oswald';
}

.header-text {
  height: calc(100% - 56px);
  text-align: center;
}

.heading .main {
  font-size: 15vw;
}

.header-separator {
  border: 1px solid white;
  width: 50px;
  margin: 1rem auto;
}

.heading .sub {
  font-size: 5vw;
}

.learn-more, .learn-more-arrow {
  text-align: center;
  color: white;

}

.learn-more {
  font-size: 1rem;
  letter-spacing: 3px;
}

.learn-more-arrow {
  font-size: 1.6rem;
  line-height: 0px;
}

.next-button {
  cursor: pointer;
  bottom: 0;
  width: 100%
}

.iconify {
  margin-bottom: 3.6px;
}

.btn-container {
  display: inline-block;
}



@media screen and (min-width:768px) {
  .header-text {
    text-align: left;
  }

  .heading .main {
    font-size: 10vw;
  }

  .header-separator {
    border: 2px solid white;
    width: 50px;
    margin: 1rem 0;
  }

  .heading .sub {
    font-size: 2.4vw;
  }

  .learn-more {
    font-size: 1rem;
  }

  .learn-more-arrow {
    font-size: 1.6rem;
  }




}

@media screen and (min-width:992px) {
  .heading .main {
    font-size: 5vw;
  }

  .header-separator {
    border: 2px solid white;
    width: 50px;
    margin: 1rem 0;
  }

  .heading .sub {
    font-size: 1vw;
  }

  .learn-more {
    font-size: 1rem;
  }

  .learn-more-arrow {
    font-size: 1.6rem;
  }

  .container {
    max-width: 65%;
  }

  .main-nav, .navbar-brand, .learn-more, .my-button1 {
    font-size: 0.9vw;
  }

}


@media screen and (min-width:1200px) {
  .navbar {
    padding-left: 10%;
    padding-right: 10%;
  }

  /* .navbar {
    max-width: 60%;
  } */

  .container {
    max-width: 65%;
  }


}

@media screen and (min-width:1921px) {

  header {
    padding-bottom: 1.5%;
  }


}











