<section id="about-me">
  <div class="container py-5">
    <div class="row align-content-center align-items-center justify-content-center">
      <div class="col-sm-12" data-aos="fade-right" data-aos-anchor="#bio-top" data-aos-anchor-placement="top-center"
        data-aos-delay="0">
        <h1 class="text-center font-weight-light text-uppercase letter-spacing-02" id="bio-top">bio</h1>
        <div class="title-underline black"></div>
        <h4 class="text-center sub-text font-weight-light mb-5">Few things about me.</h4>
      </div>
      <div class="col-sm-12 d-flex justify-content-center about-desktop" data-aos="fade-left" data-aos-anchor="#bio-top"
        data-aos-anchor-placement="top-center" data-aos-delay="200">
        <div #about class="profile-card m-0" [ngClass]="isCardToggled ? 'toggled' : ''">
          <!-- contains the front card -->
          <div class="additional">
            <!-- front left pane -->
            <div class="user-card d-flex justify-content-center align-items-center">
              <!-- <img src="../../profile/assets/lolme.png" alt="" height="180px" width="180px" style="border-radius: 50%;"> -->
              <img src="assets/lolme.png" alt="" height="180px" width="180px" style="border-radius: 50%;"
                data-aos="fade-down" data-aos-anchor="#bio-top" data-aos-anchor-placement="top-center"
                data-aos-delay="800">
            </div>
            <!-- front right pane -->
            <div class="more-info p-3">
              <h1 class="font-weight-light">Jerem Tarenio</h1>
              <p class="text-justify mt-5 text-light px-4 font-weight-light">The honest reason why I like coding is time
                seems to fly reaaaallly quick while coding. Not to mention, it's very challenging at times and who
                doesn't like a bit of challenge sometimes, eh? I started being into programming around 2016 when I
                discovered this really great Java online <a
                  href="https://moocfi.github.io/courses/2013/programming-part-1/" target="_blank">course</a>. I started
                taking an interest in web development, on the other hand, after my internship.</p>
              <p (click)="toggle()" class="toggle-arrow white"><span class="iconify"
                  data-icon="ic-baseline-navigate-before" data-inline="false"></span></p>
            </div>
          </div>
          <!-- rear right pane -->
          <div class="general p-3 align-content-between justify-content-between">
            <h1 class="font-weight-light" data-aos="fade-right" data-aos-anchor="#bio-top"
              data-aos-anchor-placement="top-center" data-aos-delay="400">Jeremiah Tarenio</h1>
            <p class="mt-5 px-4 font-weight-light" data-aos="fade-up" data-aos-anchor="#bio-top"
              data-aos-anchor-placement="top-center" data-aos-delay="600">Hello, thank you for stopping by my page. I'm
              Jeremiah Tarenio, a junior web developer hoping to become an expert in the web development field someday.
              I have a degree in engineering but decided to choose web development as my career because I wasn't really
              much into embedded systems/electronics as I am in web dev.</p>
            <p (click)="toggle()" class="toggle-arrow" data-aos="fade-right" data-aos-anchor="#bio-top"
              data-aos-anchor-placement="top-center" data-aos-delay="1000 "><span class="iconify"
                data-icon="ic-baseline-navigate-next" data-inline="false"></span></p>
          </div>
        </div>
      </div>
      <div class="px-4 about-mobile">
        <p class="font-weight-light">Hello, thank you for stopping by my page. I'm Jeremiah Tarenio, a junior web
          developer hoping to become an expert in the web development field someday. I have a degree in engineering but
          decided to choose web development as my career because I wasn't really much into embedded systems/electronics
          as I am in web dev.<br><br> The honest reason why I like coding is time
          seems to fly reaaaallly quick while coding. Not to mention, it's very challenging at times and who
          doesn't like a bit of challenge sometimes, eh? I started being into programming around 2016 when I
          discovered this really great Java online <a
            href="https://moocfi.github.io/courses/2013/programming-part-1/" target="_blank">course</a>. I started
          taking an interest in web development, on the other hand, after my internship.
        </p>

      </div>
    </div>

  </div>
</section>