/* .experience-container {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../assets/3.jpg');
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
 */
.container-px {
  padding-left: 10%;
  padding-right: 10%;
}

.row {
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}


@media screen and (min-width:768px) {
  .container-px {
    padding-left: 25%;
    padding-right: 25%;
  }

}

