<section id="experience" class="experience-container">
  <div
    class="container-fluid py-5 text-light container-px"
  > <!--  -->
    <div class="row"> <!--  -->
      <div class="col-12" id="credentials-top" data-aos="fade-right" data-aos-anchor="#credentials-top" data-aos-anchor-placement="top-center"  data-aos-delay="0"><!--   -->
        <h1 class="text-center font-weight-light text-uppercase letter-spacing-02">Credentials</h1>
        <div class="title-underline white"></div>
        <h4 class="text-center sub-text font-weight-light mb-5">All the official stuff.</h4>
      </div>

      <!-- education start -->
      <div class="col-12 mb-5">
        <h2 class="font-weight-light mb-3" data-aos="fade-up" data-aos-anchor="#credentials-top" data-aos-anchor-placement="top-center"  data-aos-delay=200><i class="fas fa-university mr-2"></i> Education</h2>
        <!-- item start -->
        <div data-aos="fade-up" data-aos-anchor="#credentials-top" data-aos-anchor-placement="top-center"  data-aos-delay=400>
          <div class="row">
            <div class="col-6">
              <p class="font-weight-bold m-0">BS Computer Engineering</p>
            </div>
            <div class="col-6 text-right d-flex align-items-center justify-content-end">
              <p class="m-0">2014 - 2019</p>
            </div>
          </div>
            <div class="row">
              <div class="col-6">
                <p class="m-0">Holy Angel University</p>
              </div>
              <div class="col-6 text-right">
                <p class="font-italic m-0">Angeles City, Pampanga</p>
              </div>
          </div>
        </div>

      </div>

      <!-- career start -->
      <div class="col-12">
        <h2 class="font-weight-light mb-3" data-aos="fade-up" data-aos-anchor="#credentials-top" data-aos-anchor-placement="top-center"  data-aos-delay=600><i class="fas fa-briefcase mr-2"></i> Career</h2>
        <!-- item start -->
        <div class="mb-3" data-aos="fade-up" data-aos-anchor="#credentials-top" data-aos-anchor-placement="top-center"  data-aos-delay=800>
          <div class="row">
            <div class="col-6">
              <p class="font-weight-bold m-0">Twist Resources, Inc.</p>
            </div>
            <div class="col-6 text-right d-flex align-items-center justify-content-end">
              <p class="m-0">April 2018 - June 2018</p>
            </div>
          </div>
            <div class="row">
              <div class="col-6">
                <p class="m-0">QA/Development Intern</p>
              </div>
              <div class="col-6 text-right">
                <p class="font-italic m-0">Clark, Pampanga</p>
              </div>
        </div>
        </div>

        <!-- item start -->
        <div data-aos="fade-up" data-aos-anchor="#credentials-top" data-aos-anchor-placement="top-center"  data-aos-delay=1000>
          <div class="row">
            <div class="col-6">
              <p class="font-weight-bold m-0">Tata Consultancy Services</p>
            </div>
            <div class="col-6 text-right d-flex align-items-center justify-content-end">
              <p class="m-0">July 2019 - January 2020</p>
            </div>
          </div>
            <div class="row">
              <div class="col-6">
                <p class="m-0">Assistant Systems Engineer</p>
              </div>
              <div class="col-6 text-right">
                <p class="font-italic m-0 right">BGC, Taguig</p>
              </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
